.btnCalc{
  position:relative;
  padding:2px 10px;
  font-size:14px;
  color:#fff;
  border:1px solid gray;
  border-radius:4px;
  background-color:#000;
  &:hover{
    opacity:.8;
  }
}

.icoPlus::before{content:'+';margin-right:4px;}